@mixin button($background: $primary, $color: $on-primary, $variant: $primary-variant ) {
    background: $background;
    color: $color;
    transition: background ease 0.25s;
    border-radius: 3px;
    border: none;
    margin: 0;
    padding: 0.75rem 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    
    &:hover,
    &:focus {
        background: $variant;
    }
}

@mixin button-inverted {
    background: $background;
    color: $on-background;
    border: 1px solid $primary;
    transition: background ease 0.25s, color ease 0.25s;

    &:hover {
        background: $primary;
        color: $on-primary;
    }

    &:focus {
        border-color: $primary-variant;
    }
}