$primary: #ff5140;
$primary-variant: #e61400;
$secondary: #4096ff;
$secondary-variant: #0050b3;
$tertiary: #59ffa6;
$tertiary-variant: #00b353;

$background: #fafafa;
$error: #b00020;

$on-primary: #fff;
$on-secondary: #fff;
$on-tertiary: #fff;
$on-background: #000;
$on-error: #fff;

$dashboard-background: #f6f6f6;